# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env.*
venv/
env/
*.sqlite3
*.db

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Uvicorn reload files
*.pid

# PyInstaller
build/
dist/
*.spec
